@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #00747C;
    --cor2: #00BBC9;
    --cor3: #CACACA;
    --cor4: #878787;
    --cor5: #202022;
    --fonte-padrao: Arial, sans-serif;
}

body {
    position: relative;
    font-family: var(--fonte-padrao);
    background-color: var(--cor3);
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;   
    background-color: var(--cor5);
}

header h1 {
    color: var(--cor3);
    text-shadow: 1px 1px 2px var(--cor3)
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35vw;
    height: 60%;
    box-shadow: 2px 2px 15px #03a68846;
    border: 3px solid #03A688;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.86);
    transform: translate(-50%, -50%);
}

div.formulario {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--cor5);
    font-weight: bold;
    padding: 0;
}

div.formulario input {
    height: 25px;
    font-size: 0.9em;
    padding: 0 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    border: none;
    width: 125px;
    height: 40px;
    border: 2px solid var(--cor2);
    border-radius: 5px;
    background-color: var(--cor1);
    color: white;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.btn:hover {
        background-color: var(--cor2);
        border: 2px solid var(--cor1);
        transition: 0.1s;
}

div.resposta {
    font-weight: bold;
    font-size: 1.4em;
}

div.explicacao {
    font-size: 0.8em;
    font-weight: bold;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5vh;
    background-color: var(--cor4);
}

footer p {
    text-align: center;
    line-height: 5vh;
    font-weight: bold;
    color: var(--cor5);
}